.product{
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.product  img{
    height: 60%;
    border-radius: 5%;
}
.product h5{
    color: rgb(var(--secondary));
    margin-top: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.product div{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    padding: 0 10%;
}
.product badge{
    font-size: 24px;
}