.product-page-container{
   min-height: 100vh;
   padding-top: 100px;
}
.product-page-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0;
}
.product-page-img img{
    height: 100%;
}
.product-page-box{
    border: 1px solid rgb(245, 79, 0, 0.5);
    border-radius: 5px;
    padding: 20px 50px;
    height: 100%;
}
.product-page-box div.row{
    width: 100%;
    position: initial;
    margin-top: 110px;
}
.product-page-box div.row button{
    font-size: 14px;
}
@media(max-width: 760px){
    .product-page-img{
        height: 300px;
    }
    .product-page-box{
        padding: 20px 30px;
    }
}
@media(max-width: 768px){
    .product-page-box{
        border: none;
        border-radius: 5px;
        padding: 10px 0;
    }
}
@media(max-width: 425px){
    .product-page-img{
        width: 100%;
        height: auto;
    }
    .product-page-img img{
        width: 100%;
        height: auto;
    }
}
.product-page-slide{
    padding-top: 200px;
}