.slick-dots li button:before {
    color: rgb(var(--secondary))!important;
}
.slick-dots li.slick-active button:before {
    color: rgb(var(--secondary))!important;
}
.slick-prev:before, .slick-next:before {
    color: rgb(var(--secondary))!important;
}